
body {
    background: url("font.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

.bgt {
    /* The image used */
    background-color: transparent;
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.titre{
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}